<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema empleados</title>
</head>
<body>
    <h1>Hola Flask!</h1>
    <table>
        <thead>
            <tr>#</tr>
            <tr>Foto</tr>
            <tr>Nombre</tr>
            <tr>Correo</tr>
        </thead>
        <tbody>
            {% for empleado in empleados %}
            <tr>
                <td>{{empleado[0]}}</td>
                <td>{{empleado[3]}}</td>
                <td>{{empleado[1]}}</td>
                <td>{{empleado[2]}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
